:host {
  display: block;
  user-select: none;
  will-change: auto;
  position: relative;
}

main {
  overflow: hidden;
  height: calc(100% - var(--tabs-height));
}

#engagement-feature {
  background: var(--background-color-4);
  background: linear-gradient(90deg, var(--background-color-4) 35%, var(--background-color-5) 100%);
  height: calc(100% - var(--scrore-board-height));
}

#engagement-feature vff-time-line,
#engagement-feature vff-team-line-up,
#engagement-feature vff-stats {
  overflow-y: scroll;
  overflow-x: hidden;
}

vff-score-board {
  box-shadow: 0 16px 20px rgba(255, 255, 255, 0.1);
}

vff-score-board:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-image: radial-gradient(circle, rgba(4, 102, 122, 1) 0%, rgba(255, 255, 255, 0) 70%);
}

#feature-toggle {
  will-change: auto;
  z-index: 10;
  position: fixed;
  left: 30px;
  bottom: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background: #013e55;
  border: 1px solid var(--color-2);
  border-radius: 50%;
  transition: left 500ms ease-out;
}

#feature-toggle.hide {
  visibility: hidden;
  left: -100vw;
}

#feature-toggle__image {
  display: block;
  height: 60px;
  width: 60px;
  transform: scaleX(-1);
}

#feature-toggle-back {
  display: none;
}

@media (orientation: landscape) and (max-width: 1024px) {
  #feature-toggle {
    display: flex;
  }

  #feature-toggle-back {
    color: var(--color-2);
    font-size: 32px;
    position: absolute;
    right: -60px;
    top: 0;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    height: calc(100vh - var(--tabs-height));
  }
}
