:host {
  display: block;
  user-select: none;
}

main {
  overflow: hidden;
  height: calc(100% - var(--tabs-height));
}

#engagement-feature {
  background: var(--background-color-4);
  background: linear-gradient(90deg, var(--background-color-4) 35%, var(--background-color-5) 100%);
  height: calc(100% - var(--scrore-board-height));
}

#engagement-feature vff-time-line,
#engagement-feature vff-team-line-up,
#engagement-feature vff-stats {
  overflow-y: scroll;
  overflow-x: hidden;
}

vff-score-board{
  box-shadow: 0 16px 20px rgba(255, 255, 255, 0.1);
}

vff-score-board:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-image: radial-gradient(circle, rgba(4, 102, 122, 1) 0%, rgba(255, 255, 255, 0) 70%);
}
