:host {
  height: var(--scrore-board-height);
  display: block;
  background: var(--background-color-1);
  background: linear-gradient(90deg, var(--background-color-1) 35%, var(--background-color-2) 100%);
}
