:host {
  height: var(--scrore-board-height);
  background: var(--background-color-1);
  background: linear-gradient(90deg, var(--background-color-1) 35%, var(--background-color-2) 100%);
  display: flex;
  flex-direction: row;
  color: var(--color-2);
  align-items: center;
}
